.donate-container{
    width: 100%;
    height: 100vh;
    display: flex;
    direction: rtl;
    background-color: #735F32;
    color: #fff;
}

.donate-text{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 18px;
    font-weight: 700;
    text-shadow:
       3px 3px 6px #000;
}
.donate-text-container{
    width: 80%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.donate-text h1{
    text-align: center;
}
.donate-inputs-container{
    display: flex;
    height: 30%;
    flex-direction: column;
    justify-content: space-between;
}
.donate-inputs-container input{
    margin: 10px 0 10px 0;
}
.donate-input{
    padding: 5px;
    border: 1px solid #C69749;
    border-radius: 10px;
    font-size: 22px;
    background-color: #191a23;
    color: #fff;
}

.donate-inputs-container button{
    width: 20%;
    align-self: center;
    margin-top: 40px;
    padding: 5px;
    font-size: 24px;
    color: #fff;
    background-color: #282A3A;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    box-shadow: 0 0 15px 1px #C69749;
    
}

.donate-image{
    width: 40%;
    height: 100%;
}
.donate-image img{
    width: 100%;
    height: 100%;
    box-shadow: 0 0 15px 0 #1b150b;
}
.donate-cash{
    display: flex;
    align-items: center;
}
.donate h1{
    font-size: 36px;
    margin: 0 15px 0 15px;
}

.donate-cash input{
    width: 50%;
}

/* Small */
@media (max-width: 768px) {
    .donate-container{
        height: 150vh;
        flex-direction: column;
    }
    .donate-text{
        width: 100%;
    }
    .donate-text h1{
        margin-block-end: 20px;
    }
    .donate-text p{
        margin: 10px 0 10px 0;
    }
    .donate-image{
       display: none;
    }
  }
  /* Medium */
  @media (min-width: 992px) {
  
  }
  /* Large */
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }